 <!-- Resources -->
  <div class = "header-one">
    <div class = "row">
      <div class="col-md-6">
        <h1>Hello, I'm Jordan Yarros.</h1>
        <h1>I am a Software Developer.</h1>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
      

  <p>Welcome, Thank you for visiting my page! Please explore</p>
  <div class= "page-section">
    <h3 class="page-section-header">About Me</h3>
    <div class="page-section-body">
      <div class= "row">
        <div class="col-md-3">
        profile photo
        </div>
        <div class="col-md-9">
          <p>
          I am a Software Developer in Virginia, USA. 
          Whether it is with problem solving or learning new things, 
          I love to push and challenge myself daily.
          </p>
          <p>In the pursuit of new ideas, I hope to gather diverse and broad perspectives
          so that I can apply these unique experiences to interesting problems. </p>
          <p>
          As a previous member of a NCAA collegiate soccer team, I understand the value in other's voices. 
          Listening skills and empathy were important aspects in being a reliable teammate.
          </p>
          <p>
          Outside of work I like to exercise, join social team sports, hike, explore my city, and travel.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class= "page-section">
    <h3 class="page-section-header">Career</h3>
    <div class="page-section-body">
      <div class= "row">
        <div class="col-md-3">
        profile photo
        </div>
        <div class="col-md-9">
          <p>
          ADP Associate Application Developer 2019-2021
          </p>
          <ol>
            <li>
            <p>Drupal Developer</p>
              <ul>
                
                <li>Apache, PHP, CSS, Jquery, Javascript, Drupal, Drush, Composer </li>
                <li> Biweekly Deployments</li>
                <li> Agile Development, Kanban, Jenkins, Bitbucket, Git</li>
                <li> content Repository creation</li>
                <li> Chatbot integration </li>
                <li> Page Analytics </li>
              </ul>
            </li>
            <li>
             <p>Angular development<p>
            <ul>
              
             <li> Shadow Render Tests, Component Creation, Service Injection, SCSS, Met Component Rendering, Form Submission</li>
            </ul>
            </li>
          </ol>
          <p>
          ADP GPT Intern Summer of 2018
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class= "page-section">
    <h3 class="page-section-header">Projects</h3>
    <div class="page-section-body">
      <div class= "row">
        <div class="col-md-3">
        profile photo
        </div>
        <div class="col-md-9">
          <p>
          I am a Software Developer in Virginia, USA. 
          Whether it is with problem solving or learning new things, 
          I love to push and challenge myself daily.
          </p>
          <p>In the pursuit of new ideas, I hope to gather diverse and broad perspectives
          so that I can apply these unique experiences to interesting problems. </p>
          <p>
          As a previous member of a NCAA collegiate soccer team, I understand the value in other's voices. 
          Listening skills and empathy were important aspects in being a reliable teammate.
          </p>
          <p>
          Outside of work I like to exercise, join social team sports, hike, explore my city, and travel.
          </p>
        </div>
      </div>
    </div>
  </div>

<app-blogs></app-blogs>
