<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>

  <div *ngFor ='let book of books; trackBy: trackByBookCode'>{{book.title}}</div>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          API #1: 
        </mat-panel-title>
        <mat-panel-description>Cat Facts </mat-panel-description>
      </mat-expansion-panel-header>
      {{catData}}
    </mat-expansion-panel>

    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          API #2: 
        </mat-panel-title>
        <mat-panel-description>Random Activity </mat-panel-description>
      </mat-expansion-panel-header>
      {{randomActivity}}
    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          API #3: 
        </mat-panel-title>
        <mat-panel-description>
          {{bitcoinPrice.chartName?bitcoinPrice.chartName:''}} Prices
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>
         USD: ${{bitcoinPrice.bpi.USD.rate?bitcoinPrice.bpi.USD.rate:''}}
        </li>
        <li>
          British Pound: ${{bitcoinPrice.bpi.GBP.rate?bitcoinPrice.bpi.GBP.rate:''}}
        </li>
        <li>
          Euro: ${{bitcoinPrice.bpi.EUR.rate?bitcoinPrice.bpi.EUR.rate:''}}
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          API #4: 
        </mat-panel-title>
        <mat-panel-description>Dog Photo </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="dogPicture">
        <img class="cropped" src={{dogPicture.message?dogPicture.message:null}}> 
      </div>
    </mat-expansion-panel>

  </mat-accordion>